#search-header {
  background-color: #ff5555;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
}
#search-header .input-container {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
  margin-left: 30px;
  margin-right: 10px;
}
#search-header .input-container i {
  color: #ccc;
}
#search-header .back-icon {
  width: 16px;
  height: 16px;
  margin-top: 6px;
}
